!!!Strict
%html
  %head
    %title Hey man, is that Freedom Rock?
    %link{ :rel => "stylesheet", :href => "stylesheets/style.css" }
  %body{ :onload => "document.getElementById('query').focus()" }
    %h1 Hey man, is that Freedom Rock?
    #main
      %form{ :method => "get", :action => "/search" }
        %label{ :for => "query" }Enter an artist or song name:
        %input{ :id => "query", :type => "text", :id => "query", :name => "query" }
        %input{ :id => "submit", :type => "submit", :name => "submit", :value => "ask the hippy!" }
