!!!Strict
%html
  %head
    %title=@message
    %link{ :rel => "stylesheet", :href => "/stylesheets/style.css" }
  %body
    %h1
    #main
      -if @match
        %h2="#{@message}"
        %h3
          That
          %em is
          Freedom Rock!
        %object{ :width => "425",  :height => "344" }
          %param{ :name => "movie", :value => "http://www.youtube.com/v/2eGWW8KOQio&hl=en&fs=1" }
          %param{ :name => "allowFullScreen", :value => "true" }
          %param{ :name => "allowscriptaccess", :value => "always" }
          %embed{ :src => "http://www.youtube.com/v/2eGWW8KOQio&hl=en&fs=1", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => "425", :height => "344" }
      -else
        %h2="#{params[:query]}??? #{@message}"
      %br/
      %a{ :href => "/" }Try again, man