body {
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 30px;
  padding: 0 36px;
}

#main {
  width: 60%;
  position: relative;
  left: 20%;
  right: 20%;
}

label {
  display: block;
}

input {
  font-size: 24px;
}

input#query {
  width: 20em;
}

input#submit {
  font-size: 16px;
}

a, a:visited {
  color: blue;
}
